body {
    background-color: bisque;
    text-align: center;
}

h1 {
    font-family: 'Lucida Handwriting', fantasy;
}

h3 {
    font-family: 'Copperplate', sans-serif;
    margin-bottom: 8px;
}

ul, ol {
    display: inline-block;
}

.container {
    text-align: center;
}
 li {
    margin: 8px auto;
 }